@font-face {
  src:
    url("../fonts/JetBrainsMonoExtraBold.woff2"),
    url("../fonts/JetBrainsMonoExtraBold.woff");
  font-family: "JetBrains Mono";
  font-weight: 800;
}

@font-face {
  src:
    url("../fonts/JetBrainsMonoRegular.woff2"),
    url("../fonts/JetBrainsMonoRegular.woff");
  font-family: "JetBrains Mono";
  font-weight: 400;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.os-theme-light {
  --os-handle-bg: rgba(255, 255, 255, 0.3);
  --os-handle-bg-hover: rgba(255, 255, 255, 0.5);
  --os-handle-bg-active: rgba(255, 255, 255, 0.7);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 800;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  font-size: 16px;
  color: #fff;
  background-color: #000;
}

.header {
  margin: 0 auto;
  margin-top: 30px;
}

.header__title {
  margin: 0;
  font-size: 20px;
}

.main {
  flex: 1;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding: 15px 0 30px;
}

.list__item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 10px;
}

.list__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
  padding: 15px 0;
  padding-right: 10px;
  width: 100%;
}

.list__title {
  margin: 0;
}

.list__link {
  background-color: #fff;
  color: #000;
  padding: 5px 15px;
  border-radius: 100px;
  font-weight: 400;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 25px;
  gap: 15px;
}

.footer__title {
  margin: 0;
  font-size: 20px;
}

.footer__social {
  display: flex;
  gap: 5px;
}
